@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-montserrat), sans-serif;
}


.wave-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}







input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}










.swiper-pagination-bullet {
  background: #b8b3b3 !important; /* inactive dot */
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #C27D2A !important; /* active dot */
  opacity: 1 !important;
}



